.selected {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #77ACA2;
  color: #E7E0D3;
  font-weight: bold;
  border-radius: 10px;
  border-color: #ffffffa6;
  padding: 10px 20px;  
  cursor: pointer;
  font-size: 20px;
  background-color: #0B344E; /* New background color when selected */
}

/* Update hover style for selected buttons */
.selected:hover {
  background-color: #0B344E; /* Background color on hover for selected buttons */
}

.button {
  transition: background-color 0.5s ease;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: 100vh;
  background-color: #031926;
  color: white;
}

.results {
  align-self: center;
  justify-self: center;
  height: 50%;
  width: 70%;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #020F17;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
  padding: 2% 0;
}
.results div{
  display:flex;
  align-items: center;
  justify-content: center;
}

.timeStamp{
  grid-column: span 2; 
  
}

.section {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #77ACA2;
  color: #E7E0D3;
  font-weight: bold;
  border-radius: 10px;
  border-color: #ffffffa6;
  padding: 10px 20px;  
  cursor: pointer;
  font-size: 20px;
}

.runButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-right, .bottom-right {
  display: flex;
  flex-direction: column;
}


.bottom-left button, .bottom-right button {
  height: 10%;
  width: 20%;
  /* padding-bottom: 3%; */
}

.top-right button {
  height: 70%;
  width: 100%;
  /*margin-top: 30px;*/
}

.data-section button {
  height: 50%;
  width: 45%;
}

.model-buttons{
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.data-section {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.App h2 {
  color: #E7E0D3;
  font-size: 30px;
}

.button:hover {
  background-color: #0B344E;
  transition:  0.5s ease;
}


.past-results-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 0px; */
}

.past-results-table {
  height: 50%;
  width: 80%;
}


.results p{
  margin: 0;
}

.action-buttons {
  height: 50%;
  width: 70%;
  /* flex-direction: row; */
  margin-top: 1%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.action-buttons button {
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-results-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare-results-container {
  background-color:#0B344E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.compare-results-container h2, h3 {
  color:#77ACA2
}

.compare-results-container p{
  color:#E7E0D3
}


.compare-results-container h2 {
  margin-top: 0;
}

.compare-results {
  display: flex;
  justify-content: space-between;
}

.compare-results div {
  flex: 1;
  margin-right: 10px;
}

.compare-results div:last-child {
  margin-right: 0;
}

.compare-results h3 {
  margin-top: 0;
}

button {
  padding: 8px 16px;
  background-color: #77ACA2; /* Blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #77ACA2; /* Darker blue on hover */
}

.LoadingButton {
  background-color: #77ACA2;
}


/* Style for the parameters pop-up */
.params-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background-color: #031926;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 40%;
  height: 40%;
  background-color: #0B344E; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close-popup-button {
  position: relative;
  bottom: 10px;
  left: 10px;
  background-color: #77ACA2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-popup-button:hover {
  background-color: #0B344E;
}